.news-letters {
  width: 58%;
  margin: auto;
  /* background: purple; */
}

.news-letters-top {
  width: 300px;
  height: 65px;
  /* background: red; */
  overflow: none;
}

.news-letters-top img {
  width: 100% !important;
  height: 100% !important;
}

.news-letters-title {
  font-weight: 900;
  font-size: 17px;
  margin: 15px 0;
}

.news-letters-body {
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  color: var(--primary-global-colour);
  opacity: 0.9;
}

.news-letters-body-text {
  margin: 0 0 15px 0;
  /* font-size: 17px; */
}

.news-letters-body-text-unique {
  color: var(--primary-color);
}

.news-letters-body-list {
  margin: 0 0 25px 0;
}

.news-letters-body-list li {
  /* line-height: 20px; */
  padding: 2px 0;
}

.news-letters-footer-button {
  width: 100% !important;
  border-radius: 50px !important;
  color: white !important;
  padding: 10px 0 !important;
  background: var(--primary-color) !important;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
}