/* scollbar */
/* width */
/* ::-webkit-scrollbar {
  width: 7px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.explore {
  padding-top: 4px;
  display: flex;
  flex: 1;
  overflow-y: hidden;
  position: relative;

}

.NotificationRight {
  /* background-color: red; */
  width: 45%;
  height: 180vh;
  position: sticky;
}

.exploreContent {
  /* border-left: 1px solid rgba(211, 203, 216, 0.3);
  border-right: 1px solid rgba(211, 203, 216, 0.3); */
  width: 60%;
  /* overflow-y:scroll; */

}

.top-navbar-left-l-search {
  /* height: 59px; */
  height: 100%;
  position: relative;
  /* align-items: left; */
  display: flex;
  align-items: center;
}

.twitter-search {
  /* background: red; */
  /* margin:0 auto; */
  margin-left: 20px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.twitter-search .twitter-search-icon {
  position: absolute;
  left: 15px;
}

.twitter-search:focus-within .twitter-search-icon {
  color: var(--primary-color) !important;
}

.icon4setting svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;

}

.setting_Icon {
  width: 40px;
  height: 40px;
  font-size: 20px !important;
  color: var(--primary-color) !important;
  margin-left: 10px !important;
}

.twitter-search-component-input {
  /* margin-top: 7px; */
  text-align: left;
  height: 80%;
  margin: auto auto;
}

.topNews {
  /* background-color: purple; */
  height: 300px;
  width: 100%;
  /* align-items: center; */
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  /* z-index: 2; */
  /* overflow: hidden; */
}

.topNews img {
  height: 100%;
  width: 100%;
  mask-position: center;
  top: 0;
  position: absolute;
  image-rendering: auto;
  aspect-ratio: 16/9;
}

.topNewsHeadline {
  /* background-color: red; */
  position: absolute;
  width: 100%;
  color: #fff;
  bottom: 10px;
  left: 0;
  font-weight: bolder;
  /* background-color: red; */
  padding: 0 30px;
}

.topNewsHeadline h3 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.topNewsHeadline p {
  font-weight: 900;
  font-size: 24px;
}

.twitter-trend {
  padding: 10px 15px;
  position: relative;
}

.twitter-trend .trend-data h3 {
  font-weight: 900;
  font-size: 16px;
}

.twitter-trend .trend-data p {
  /* color: var(--twitter-lighter-color); */
  color: #aaa;
  font-size: 14px;
}

.twitter-trend .trend-elipsis {
  font-size: 18px;
  /* color: var(--primary-color); */
  color: #aaa;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  top: 1px;
  right: 10px;
}


.trendHeader {
  margin-top: 17px;
  align-items: center;
  height: 54px;
  /* background-color: red; */
  border-bottom: 0.4px solid rgba(184, 178, 178, 0.3);
  border-top: 0.4px solid rgba(184, 178, 178, 0.3);
  /* margin: 0 auto; */
}

.trendHeader h2 {
  margin-left: 21px;
  height: 50px;

}

.trend-data {
  min-height: 65px;

}

.trend-data p {
  padding: 8px;
}

.HappeningsTag {
  margin-top: 17px;
  align-items: center;
  height: 54px;
  border-bottom: 0.4px solid rgba(184, 178, 178, 0.3);
  border-top: 0.4px solid rgba(184, 178, 178, 0.3);
}

.HappeningsTag h3 {
  margin-top: 8px;
  margin-left: 25px;
}

.happening-trend {
  padding: 10px 15px;
  position: relative;
}

.happening-trend .trend-data h3 {
  font-weight: 700;
  font-size: 14px;
}

.happening-trend img {
  height: 65px;
  width: 65px;
  border-radius: 6px;
}

.happening-data {
  width: 85%;
  /* background-color: red; */
}

.happening-trend .happening-data p {
  color: #aaa;
  font-size: 14px;
}

.happening-trend .happening-elipsis {
  font-size: 18px;
  color: #aaa;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  top: 1px;
  right: 10px;
}