
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* scroll-margin-top: 10px;
  scroll-padding-top: 60px; */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 20px;
  font-family: "Lato", sans-serif;
}


:root{
  --nav-size: 60px;
  --link-size: 40px;
  --primary-bg: #f5f8fc;
  --primary-color: #1da1f2;
  /* --primary-color-darker: #1323ff; */
  --primary-bg-accent: #1da0f21a;
  --primary-border-color: #eef3f8;
}

.main-content{
  /* margin-top: var(--nav-size); */
  display: flex;
  flex: 1;
}

.divider{
  height: 1px;
  background-color: #aaaaaa50;
}

.display-flex{
  display: flex;
}

.position-relative{
  position: relative;
}

.capitalize{
  text-transform: capitalize;
}